@media only screen and (max-width: 800em) {
.header{
    display: grid;
    
    
    
}
.menu {
    background-color:#eb1c24	;
    border-radius: 30px;
    height: 30px;
    width: auto;
}

th{
    border: 50%;
    color: white;
    border-radius: 30px;
    font-weight: bold;
    font-style: Impact;
    grid-row: 1;
}

body{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;

}
.bouton{
    border-radius: 30px;
    color: #eb1c24;
}

footer{
        display: inline;
        background-color: #eb1c24;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        position:absolute;
        bottom:0;  /* on le colle en bas */
        width:100%;
        height:5%;   /* Hauteur du pied de page */
    
    
}
.Commander{
    background-color: white;
    border-radius: 30px;
    color: black;

}

fieldset{
    font-style: Impact;
    background-color: #7c7c7c;
    border-radius: 30px;
    color: black;
}


#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(10px);
  }
  
  .kebab {
    display: grid;
    grid-column: 1;
    grid-row: 1;



  }
  
  a{ text-decoration: none;
    color: white;
   }
  


}


