@media only screen and (max-width: 800em) {
    
    .header{
        display: grid;
    }
    
    .menu {
        background-color: #eb1c24	;
        border-radius: 30px;
        height: 30px;
        width: auto;
        grid-column: 1/3;
    }
    
    .contacter{
        background-color: white;
        border-radius: 30px;
        color: black;
    }
    
    th{
        border: 50%;
        color: white;
        border-radius: 30px;
        font-weight: bold;
        font-style: Impact;
        
        
    }
    
    body{
        background-image: url('../image/test.jpg');    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
    .bouton{
        border-radius: 30px;
    }
    
    footer{
        display: inline;
        background-color: #eb1c24;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        position:absolute;
        bottom:0;  /* on le colle en bas */
        width:100%;
        height:5%;   /* Hauteur du pied de page */
        
       
    }
    .p1{grid-row: 2;}
    .p2{grid-row: 3;}
    .p3{grid-row: 4;}
    .p4{grid-row: 5;}
    .p5{grid-row: 6;}
    .p6{grid-row: 7;}
    .p8{display: grid;
        font-style: Impact;
        grid-row: 9;
        grid-column: 1;
        background-color: #797979ca;
        color: white;
        border-width:2px;
        border-style:outset;
        border-color:white;
        resize : both;
        width : 50%;
        height : 95%;
        border-radius: 10px;
       
    }
    .p9{grid-row: 10;}
    .p10{grid-row: 11;}
    .p11{grid-row: 12;}
    .p12{grid-row: 13;}
    .p13{ 
        font-style: Impact;
        display: grid;
        grid-row: 14;
        text-align: right;
        color: white;
    }

    a{ text-decoration: none;
        color: white;


    }
    
}
