

@media only screen and (max-width: 800em) {
    
    .header{
        display: grid;
    }
    
    .menu {
        background-color: #eb1c24	;
        border-radius: 30px;
        height: 30px;
        width: auto;
        grid-column: 1/3;
    }
    
    .Presentation{
        background-color: white;
        border-radius: 30px;
        color: black;
    }
    
    th{
        border: 50%;
        color: white;
        border-radius: 30px;
        font-weight: bold;
        font-style: Impact;
        
        
    }
    
    body{
        background-image: url('../image/test.jpg');    
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
    .bouton{
        border-radius: 30px;
    }
    
    footer{
        display: inline;
        background-color: #eb1c24;
        color: #fff;
        border-radius: 30px;
        text-align: center;
        position:absolute;
        bottom:0;  /* on le colle en bas */
        width:100%;
        height:5%;   /* Hauteur du pied de page */
        
       
    }
   
    .p8{display: grid;
        font-style: Impact;
        grid-row: 9;
        grid-column: 1;
        background-color: #797979ca;
        color: white;
        border-width:2px;
        border-style:outset;
        border-color:white;
        resize : both;
        width : 50%;
        height : 95%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        border-radius: 10px;
       
    }
    
    .p13{ 
        font-style: Impact;
        display: grid;
        grid-row: 14;
        text-align: right;
        color: white;
        
    }

    a{ text-decoration: none;
        color: white;


    }
    
}


